<div class="content_container">
<h1>Drug Information</h1>
<h2><%= @title.capitalize %></h2>
<%= @page.html_safe %>
<div class="credit">
  Information from Simple Wikipedia. Text available under Creative Commons Attribution/Share-Alike License.
</div>
</div>