<!DOCTYPE html>
<html>
<head>
  
  <%= javascript_include_tag "jquery.min", 
        "http://maps.googleapis.com/maps/api/js?sensor=false" %>

<script type="text/javascript">
$(document).ready(function () {
  
    do_the_map("TN22 2HT");
    get_markers('gp');
    $('a#gp').toggleClass('selected_layer');
    $('input#postcode').val("TN22 2HT");
    
    $('a#map_update').click(function() {
      val = $("input#postcode").val();
      do_the_map(val);
      get_markers('gp');
      return false;
    });
    
    
    
    $('form#postcode').submit(function() {
      val = $("input#postcode").val();
      do_the_map(val);
      get_markers('gp');
      return false;
    });
    
    function do_the_map(postcode) {
      data = "postcode=" + postcode;
      markers = [];
    
      window.markers_array = [];
    
      draw_map(postcode);
    }
    
    function get_markers(type) {
      delete_markers();
      $.ajax({
      url: 'http://nhsgpquality.appspot.com/lookup/' + type,
      dataType: 'jsonp',
      data: data,
      success: function(data2) {
        markers = [];
        $.each(data2, function(index, value) {
          lat = value["Latitude"];
          lng = value["Longitude"];
          address1 = value["Address1"];
          address2 = value["Address2"];
          address3 = value["Address3"];
          address4 = value["Address4"];
          address5 = value["Address5"];
          postcode = value["Postcode"];
          phone = value["Telephone"];
          name = value["Name"];
          
          
          markers.push({
            lat: lat,
            lng: lng,
            address1: address1,
            address2: address2,
            address3: address3,
            address4: address4,
            address5: address5,
            postcode: postcode,
            phone: phone,
            name: name
          });
        });
        add_markers(markers, type);
      }
      });
    }
    
    
    function draw_map(postcode) {
      $.ajax({
        url: '/geocode',
        dataType: 'json',
        data: 'address=' + postcode + '&sensor=false',
        success: function(data) {
          lat = data["results"][0]["geometry"]["location"]["lat"];
          lng = data["results"][0]["geometry"]["location"]["lng"];
          actually_draw_map(lat, lng);
        }
      });
    }
    
    function actually_draw_map(lat, lng) {
      var myLatLng = new google.maps.LatLng(lat, lng);

      var options = {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoom: 12,
        center: myLatLng
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
          options);
      window.map = map;
    }
          
    function add_markers(markers, type) {
      $.each(markers, function(index, value) {
        var latLng = new google.maps.LatLng(value["lat"], value["lng"]);
        var name = "<b>" + value["name"] + "</b><br/>";
        var address = "";
        $.each([1,2,3,4,5], function(index, n) {
          var data = value["address" + n];
          if (data != null) {
            address = address + data + ",<br/>";
          }
        });
        address = address + value["postcode"] + "<br/>";
        var phone = value["phone"] + "<br/>";
        contentString = name + address + phone;
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        window.old_infowindow = infowindow;
        var marker = new google.maps.Marker({
          position: latLng,
          map: window.map,
          icon: '/images/maps/' + type + '.png'
        });
        google.maps.event.addListener(marker, 'click', function() {
          window.old_infowindow.close();
          window.old_infowindow = infowindow;
          infowindow.open(map,marker);
        });
        window.markers_array.push(marker);
      });
    }
    
    // http://code.google.com/apis/maps/documentation/javascript/overlays.html#RemovingOverlays
    function delete_markers() {
      if (window.markers_array) {
        for (i in window.markers_array) {
          window.markers_array[i].setMap(null);
        }
        window.markers_array.length = 0;
      }
    }

    $('a.layer_selector').click(function() {
      get_markers(this.id);
      $(this).toggleClass('selected_layer');
      $('a.layer_selector').not(this).removeClass('selected_layer');
      return false;
    });
    
    resize_map();
    
    // http://stackoverflow.com/questions/838137/jquery-change-height-based-on-browser-size-resize
    jQuery.event.add(window, "load", resize_map);
    jQuery.event.add(window, "resize", resize_map);
    
    
    function resize_map() {
      // http://stackoverflow.com/questions/1818467/how-to-apply-100-height-to-div                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    # 
      $('div#map_canvas').height($(window).height() - 183);
    }
    
  });
</script>
</head>
<body>
  <form id="postcode" >
    Postcode: <input type="text" id="postcode"></input>
    <span id="map_button">
      <a id="map_update" href="#" class="button blue bigrounded">Update Map</a>
    </span>
  </form>
  <div id="layer_selectors">
    <a id="gp" class="layer_selector" href="#">GPs</a>
    <a id="hospital" class="layer_selector" href="#">Hospitals</a>
    <a id="pharmacy" class="layer_selector" href="#">Pharmacies</a>
    <a id="optician" class="layer_selector" href="#">Opticians</a>
    <a id="dentist" class="layer_selector" href="#">Dentists</a>
  </div>
  <div id="map_canvas" style="height:300px; width:100%"></div>
</body>
</html>