table.bookings {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

table.bookings th {
  font-size: 1.25em;
}

table.bookings th, table.bookings td {
  border: 1px dotted gray;
  padding: 3px;
}

td.user_booked {
  background-color: #CDEB8B;  
}

td.booked {
  background-color: #FF1A00;
}

td.unbooked {
  background-color: #CDEB8B;
}

div.nav_links {
  padding-bottom: 10px;
  width: 480px;
  float: left;
}

td.key {
  width: 35px;
}

div.key_wrapper {
  float: right;
}

table.key, table.key td {
  border: 1px solid dotted;
  border-collapse: collapse;
}

table.key td {
  padding: 3px;
  border: 2px solid black;
}

table.key {
  float: right;
}

div.key {
  position: absolute;
  background-color: #fff;
  top: 120px;
  right: 50px;
}