<% content_for :header_includes do %>
  <%= stylesheet_link_tag "bookings" %>
<% end %>
<div class="bookings_container">

<h1>New booking</h1>

<%= render 'form' %>

<%= link_to 'Back', patient_gp_bookings_path %>
</div>
