<div class="content_container">
<p>Welcome to myNHS.</p>
<p>
  Use the links above to access:
  <ul>
    <li>Your patient history (detailing allergies and past operations)</li>
    <li>Your local NHS services (such as GPs, hospitals and pharmacies)</li>
    <li>
      Your prescriptions (where you can view past prescriptions and request
      renewals
    </li>
    <li>
      Your bookings (see current appointments with your GP and book new
      ones
    </li>
  </ul>
</p>
</div>