<div class="introduction">
  <h2>myNHS</h2>
  <p>
    Lorem ipsum
  </p>
</div>
<div class="testimonial">
  Image here
  <p>
    Testimonial here
  </p>
  <div class="credit">Credit here</div>
</div>
<div class="buttons_container">
  Medical Map
  Book an Appointment
  My Prescriptions
  My History
</div>