<h2>Recent Operations</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Date and Time</th>
    <th>Doctor's Comment</th>
  </tr>
  <tr>
    <td>Dislocated Collarbone</td>
    <td>20:00 04/07/2011</td>
    <td>
      On the 4th of July at 7:15, 40 year old Sharon Thompson was power kiting.
      A gust of wind swept Sharon into the air, and she landed on her left shoulder
      and was dragged 5 feet along the ground. Another power kiter saw this and
      rushed her to hospital; her collarbone was dislocated so we operated on
      her straight away. A week later her collar bone has fully healed.
    </td>
  </tr>
  <tr>
    <td>Broken Leg</td>
    <td>16:00 23/04/2008</td>
    <td>
      On the 23rd of April at approximately midday, 37 year old Sharon Thompson was
      walking down stairs when she triped and snaped her shin on one of the
      wooden steps and was knoked out by the wall at the bottom of the stairs.
      She was unconscious for half an hour until her son got home from school to
      see that his mother. was knoked out on the floor. He immediately called the
      ambulance and Sharon was taken into hospital. We operated on her leg and a
      month later her leg was fully healed.
    </td>
  </tr>
  <tr>
    <td>Fractured Skull</td>
    <td>09:00 05/03/1982</td>
    <td>
      On the 5th of March at 8:44am, 11 year old Sharon Thompson was on her way
      to school with her parents when her mum went into the newsagents: Sharon
      stayed outside with her dad Mark. Sharon sat on a low down wall as they
      waited for her mum, but on the other side of the wall there was a 4-5 foot
      drop. While Sharon was stretching she lent back too far and fell backwards;
      her legs were crossed so she had nothing to stop him from falling. She
      landed on her head and back and both her hands were behind her head when
      her hit the floor so he badly twisted both his wrists as well. She was rushed
      into hospital by her parents and the doctors operated on her immediately;
      she had a small fracture on the back of her skull. It took a week for her
      wrists to completely heal, 5 days for her back to feel better and 3 weeks
      for her skull to completely heal. She was in hospital for a total of 4
      weeks.
    </td>
</table>

<h2>Allergies</h2>
<ul>
  <li>Peanuts</li>
  <li>Milk</li>
</ul>